<template>
  <ul class="menu-header d-flex align-items-center p-0 m-0 bg-white">
    <cheetah-sidebar-nav-item-header
      :menu="{
        name: '入力者',
        path: '/user',
        icon: 'user',
        class: 'icon-user'
      }"
    />
    <slot />
    <li class="cheetah-sidebar-nav-item cheetah-sidebar-nav-order mr-085rem">
      <a
        v-shortkey="['f3']"
        href="#!"
        :class="`cheetah-sidebar-nav-link complete`"
        @click.prevent="close_window();return false;"
        @shortkey.prevent="close_window();return false;"
      >
        <font-awesome-icon icon="arrow-left" class="cheetah-sidebar-nav-icon" />
        <div class="cheetah-sidebar-nav-text">
          終了 (F3)
        </div>
      </a>
    </li>
    <template v-for="item in MENU_SYSTEM">
      <template
        v-if="!(Array.isArray(item.children) && item.children.length)"
      >
        <cheetah-sidebar-nav-item-header :key="item.name" :menu="item" />
      </template>

      <template v-else>
        <cheetah-sidebar-nav-dropdown :key="item.name" :menu="item" />
      </template>
    </template>
    <li v-if="hideTotal" class="cheetah-sidebar-nav-item">
      <div class="cheetah-sidebar-nav-text">
        {{ $t('total.total') }} : {{ total }} / {{ TOTAL }}
      </div>
    </li>
    <li v-if="hideTotal" class="cheetah-sidebar-nav-item">
      <div class="cheetah-sidebar-nav-text">
        {{ present === 0 ? '新規' : '変更' }}
      </div>
    </li>
  </ul>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import CheetahSidebarNavItemHeader from '~/components/CheetahSidebarNavItemHeader.vue'
import CheetahSidebarNavDropdown from '~/components/CheetahSidebarNavDropdown.vue'
import EventBus from '~/plugins/event-bus'
import Layout from '~/cheetah-core/mixins/layout'
const TOTAL = 6000
const MENU_SYSTEM = []

export default {
  components: {
    CheetahSidebarNavDropdown,
    CheetahSidebarNavItemHeader
  },

  mixins: [
    Layout
  ],

  props: {
    /**
     * menuHeader
     */
    menuHeader: {
      type: Array,
      default: () => []
    },

    /**
     * hide totals on menu bar
     */
    hideTotal: {
      type: Boolean,
      default: true
    }
  },

  data () {
    return {
      total: 0,
      present: 0
    }
  },

  computed: {
    ...mapGetters({ isCollapsed: 'sidebar/isCollapsed' }),
    ...mapGetters({ isHide: 'sidebar/isHide' }),

    /**
     * Merging two arrays MENU_SYSTEM and menuHeader
     *
     * @return {Array} - Menu system
     */
    MENU_SYSTEM () {
      const MENU = []
      MENU.push(...MENU_SYSTEM)
      MENU.push(...this.menuHeader)
      return MENU
    },

    /**
     * Max total customer
     */
    TOTAL () {
      return TOTAL
    }

    /**
     * Menu module
     *
     * @return {Array} - Menu module
     */
    // MENU_MODULE () {
    //   return MENU_MODULE
    // }
  },

  watch: {
    /**
     * Watching changes of isPC, change collapse sidebar
     */
    isPC: {
      handler (val) {
        this.changeCollapse(!val)
      },
      immediate: true
    }
  },

  mounted () {
    this.getNumberUserSub()
    EventBus.$on('status-tabbar-user', (filterUser) => {
      this.present = filterUser
    })
    EventBus.$on('status-total', () => {
      this.getNumberUserSub()
    })
  },

  methods: {
    ...mapActions({ changeCollapse: 'sidebar/changeCollapse' }),

    /**
     * Close tab
     */
    close_window () {
      close()
    },

    /**
     * Call API get total customer
     *
     * @return {Object} API response for error handle
     */
    async getNumberUserSub () {
      const res = await this.$cheetahAxios.GetCountUserRecord()
      this.total = res
    }
  }
}
</script>
<style scoped>
.cheetah-sidebar-nav-icon {
  color: #2eb85c;
}
.complete {
  padding: 0.65rem 1rem;
  width: 110%;
}
.menu-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 62px;
  width: auto;
  background: #fff;
  padding: 0 10px 0 0;
  transition: left .3s;
  z-index: 100;
  margin-right: -10px !important;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.cheetah-sidebar-nav-item {
  list-style: none;
}
/* .cheetah-sidebar-nav-text {
  padding: 0.65rem 1rem;
  font-weight: 600;
} */
@media only screen and (max-width: 769px) {
  .menu-header {
    overflow: auto;
  }
  .cheetah-sidebar-nav-item {
    min-width: 159px;
}
}
</style>
