<template>
  <ValidationObserver v-slot="{ handleSubmit }" ref="observer1">
    <b-form
      class="d-flex flex-column h-100"
      @submit.prevent="handleSubmit(onSubmit)"
    >
      <div class="flex-fill p-4 creem-user">
        <div class="row">
          <div class="col-12 p-0">
            <ValidationProvider
              v-slot="{ errors }"
              rules="required|haftSize|maxHalfSizeJp:10"
              :name="`${$t('user.input_id')}`"
            >
              <b-form-group
                :label="$t('user.input_id')"
                label-for="input_id"
                label-cols-md="3"
                content-cols-md="7"
                class="has-required-sign label-md-right"
              >
                <b-input-group>
                  <b-input-group-prepend is-text>
                    <font-awesome-icon
                      icon="address-card"
                      class="w-1rem"
                    />
                  </b-input-group-prepend>
                  <b-form-input
                    id="input_id"
                    v-model="model.KeyboarderID"
                    :placeholder="`${$t('user.input_id')}`"
                    :formatter="limitMaxLength"
                    maxlength="10"
                    :disabled="isDisabled"
                    class="rounded"
                    @blur="getUserByKeyboarderID"
                  />
                </b-input-group>
                <div
                  v-if="Array.isArray(errors)"
                  class="d-block invalid-feedback font-size-0-9rem"
                >
                  {{ errors[0] }}
                </div>
                <b-button
                  variant="primary"
                  class="button-show-modal"
                  @click="$emit('show-user')"
                >
                  <font-awesome-icon icon="search" />
                </b-button>
              </b-form-group>
            </ValidationProvider>
          </div>
          <div class="col-12 p-0">
            <ValidationProvider
              v-slot="{ errors }"
              rules="required|haftSize|maxHalfSizeJp:6"
              :name="`${$t('user.section_id')}`"
            >
              <b-form-group
                :label="$t('user.section_id')"
                label-for="section_id"
                label-cols-md="3"
                content-cols-md="7"
                class="has-required-sign label-md-right"
              >
                <b-input-group>
                  <b-input-group-prepend is-text>
                    <font-awesome-icon
                      icon="id-card-alt"
                      class="w-1rem"
                    />
                  </b-input-group-prepend>
                  <b-form-input
                    id="section_id"
                    v-model="model.SectionID"
                    maxlength="6"
                    :placeholder="`${$t('user.section_id')}`"
                    :disabled="isDisabled"
                    class="rounded"
                    @blur="getUserBySectionID"
                    @keydown="statusValidateSection=false"
                  />
                </b-input-group>
                <b-button
                  variant="primary"
                  class="button-show-modal"
                  @click="$emit('show-section')"
                >
                  <font-awesome-icon icon="search" />
                </b-button>
                <span class="ml-3 text-left text-truncate customer-cd">{{ SectionName }}</span>
                <div
                  v-if="Array.isArray(errors)"
                  class="d-block invalid-feedback font-size-0-9rem"
                >
                  {{ errors[0] }}
                </div>
                <div
                  v-if="statusValidateSection"
                  class="d-block invalid-feedback font-size-0-9rem"
                >
                  {{ $t('messages.error.section_do_not_exit') }}
                </div>
              </b-form-group>
            </ValidationProvider>
          </div>
          <div class="col-12 p-0">
            <ValidationProvider
              v-slot="{ errors }"
              rules="required|maxHalfSizeJp:14|maxFullSizeJapan:14"
              :name="`${$t('user.keyboard_name')}`"
            >
              <b-form-group
                :label="$t('user.keyboard_name')"
                label-for="input"
                label-cols-md="3"
                content-cols-md="7"
                class="has-required-sign label-md-right"
              >
                <b-input-group>
                  <b-input-group-prepend is-text>
                    <font-awesome-icon
                      icon="user-tag"
                      class="w-1rem"
                    />
                  </b-input-group-prepend>
                  <b-form-input
                    id="input"
                    v-model="model.KeyboarderName"
                    :placeholder="`${$t('user.keyboard_name')}`"
                    :disabled="isDisabled"
                    maxlength="14"
                  />
                </b-input-group>
                <div
                  v-if="Array.isArray(errors)"
                  class="d-block invalid-feedback font-size-0-9rem"
                >
                  {{ errors[0] }}
                </div>
              </b-form-group>
            </ValidationProvider>
          </div>
          <div class="col-12 p-0">
            <ValidationProvider
              v-slot="{ errors }"
              rules="required|min:8|maxHalfSizeJp:20|maxFullSizeJapan:20"
              :name="`${$t('user.password')}`"
            >
              <b-form-group
                :label="$t('user.password')"
                label-for="password"
                label-cols-md="3"
                content-cols-md="7"
                class="has-required-sign label-md-right"
              >
                <b-input-group>
                  <b-input-group-prepend is-text>
                    <font-awesome-icon
                      icon="ticket-alt"
                      class="w-1rem"
                    />
                  </b-input-group-prepend>
                  <b-form-input
                    id="password"
                    v-model="model.PassWord"
                    :disabled="isDisabled"
                    type="password"
                    maxlength="20"
                    placeholder="******"
                  />
                </b-input-group>
                <div
                  v-if="Array.isArray(errors)"
                  class="d-block invalid-feedback font-size-0-9rem"
                >
                  {{ errors[0] }}
                </div>
              </b-form-group>
            </ValidationProvider>
          </div>
          <div class="col-12 p-0">
            <ValidationProvider
              v-slot="{ errors }"
              rules="required|numeric|between:1,999"
              :name="`${$t('user.password_exp_date')}`"
            >
              <b-form-group
                :label="$t('user.password_exp_date')"
                label-for="password_exp_date"
                label-cols-md="3"
                content-cols-md="2"
                class="has-required-sign label-md-right m-0"
              >
                <b-input-group>
                  <b-input-group-prepend is-text>
                    <font-awesome-icon
                      icon="user-times"
                      class="w-1rem"
                    />
                  </b-input-group-prepend>
                  <b-form-input
                    id="password_exp_date"
                    v-model="model.PassWordExpir"
                    :disabled="isDisabled"
                    maxlength="3"
                    placeholder="999"
                    class="rounded text-right"
                  />
                </b-input-group>
                <span class="d-flex align-items-center exp-date ml-3">日</span>
              </b-form-group>
              <div
                v-if="Array.isArray(errors)"
                class="d-block invalid-feedback font-size-0-9rem col-md-9 col-12 mb-3 float-right px-1"
              >
                {{ errors[0] }}
              </div>
            </ValidationProvider>
          </div>
          <div class="col-12 p-0 text-center">
            <b-button
              class="ml-2 bg-success-bold"
              :disabled="model.KeyboarderID === ''"
              @click="onSecurity()"
            >
              <font-awesome-icon
                icon="id-card-alt"
                class="w-1rem"
              />
              {{ $t('user.security') }}
            </b-button>
            <b-button
              class="ml-2 bg-success-bold"
              :disabled="model.Id === 0"
              @click="onSMTP"
            >
              <font-awesome-icon
                icon="id-card-alt"
                class="w-1rem"
              />
              {{ $t('user.SMTP_settings') }}
            </b-button>
          </div>
        </div>
      </div>
      <footer v-show="false" id="card-footer" class="card-footer bg-white text-center">
        <b-button
          ref="submitForm"
          type="submit"
          variant="primary"
          title="Submit"
          :disabled="loading"
          class="min-w-100px mx-1"
        >
          <font-awesome-icon icon="save" />
          {{ $t('common.save') }}
        </b-button>
        <b-button
          variant="outline-primary"
          title="Cancel"
          :disabled="loading"
          class="min-w-100px mx-1"
          @click="$emit('cancel')"
        >
          <font-awesome-icon icon="arrow-left" />
          {{ $t('common.cancel') }}
        </b-button>
      </footer>
    </b-form>
  </ValidationObserver>
</template>

<script>
import User from '~/modules/user/model'
import EventBus from '~/plugins/event-bus'
import CreateEditForm from '~/cheetah-core/mixins/create-edit-form'
import Validate from '~/cheetah-core/mixins/validate'
import UserInfoLogin from '~/cheetah-core/mixins/user-login-info'
import LocalStoreage from '~/cheetah-core/mixins/local-storeage'
const EVENT_MODIFY = 'modify'
export default {
  mixins: [
    CreateEditForm,
    Validate,
    UserInfoLogin,
    LocalStoreage
  ],

  props: {
    /**
     * Get User
     */
    filterUser: {
      type: Object,
      default: null
    },

    /**
     * Get User
     */
    filterSection: {
      type: Object,
      default: null
    },

    /**
     * disabled
     */
    isDisabled: {
      type: Boolean,
      default: true
    }
  },

  data () {
    return {
      model: new User(),
      modelType: this.$t('user.user'),
      PassWord: '',
      SectionName: '',
      statusValidateSection: false,
      isCreateUser: false
    }
  },

  watch: {
    /**
    * {Object} filterUser.Id
    * Hidden or Show button Delete by UserID, change isHideBtnDelete
    */
    filterUser: {
      handler (after, before) {
        this.model = this.filterUser
        this.getUserBySectionID()
        this.$emit('is-hide-btn', false)
        if (this.filterUser.Id !== null && this.filterUser.Id > 0) {
          this.isCreateUser = false
          EventBus.$emit('status-tabbar-user', this.filterUser)
          this.$emit('is-hide-btn', false)
        } else {
          EventBus.$emit('status-tabbar-user', 0)
          this.$emit('is-hide-btn', true)
          this.SectionName = ''
        }
      },
      deep: true
    },

    /**
     * Watching filter section
     */
    filterSection: {
      handler (after, before) {
        try {
          this.model.SectionID = this.filterSection.SectionID
          this.SectionName = this.filterSection.SectionName
          this.statusValidateSection = false
        } catch (error) {
          console.log({ error })
        }
      },
      deep: true
    }
  },

  mounted () {
    this.getDetail(+this.id)
  },

  methods: {
    /**
     * Dynamic set model
     *
     * @param {Object} data
     */
    setModel (data) {
      this.model = new User(data)
    },

    /**
     * Clear form User
     */
    clearForm () {
      this.model = new User()
      this.$emit('is-hide-btn', true)
      this.statusValidateSection = false
      this.SectionName = ''
      this.$refs.observer1.reset()
    },

    /**
     * Reset form User
     */
    resetForm () {
      this.id = 0
      this.model = new User()
      this.$emit('is-hide-btn', true)
      this.statusValidateSection = false
      this.SectionName = ''
      this.$refs.observer1.reset()
    },

    /**
     * Submit form User by button submit
     */
    async submitForm () {
      const isValid = await this.$refs.observer1.validate()
      if (isValid && !this.statusValidateSection) {
        await this.$refs.submitForm.click()
        try {
          this.$cheetahAxios.createMenu({ UserId: this.model.KeyboarderID })
          this.$cheetahAxios.createMenuLabel({ UserId: this.model.KeyboarderID })
          return true
        } catch (error) {
          console.log(error)
          return false
        }
      }
      return false
    },

    /**
     * Submit form User by shortcut (F5)
     */
    onSubmitByShortKey () {
      this.$refs.observer1.validate().then((valid) => {
        this.submitForm()
      })
    },

    /**
     * Handle comfirm and call function delete User
     */
    handleDelete () {
      if (this.model.Id === 0) {
        return
      }
      const name = this.model.KeyboarderID
      const id = this.model.Id
      this.$bvModal
        .msgBoxConfirm(<span> {this.$t('messages.confirmation.delete', { name })}</span>, {
          title: <span><font-awesome-icon icon="info-circle" class="text-warning mr-2" />Warning</span>,
          okTitle: <span><font-awesome-icon icon="trash-alt" class="mr-1" />{ this.$t('common.confirm_delete') }</span>,
          okVariant: 'danger',
          cancelTitle: this.$t('common.cancel'),
          hideHeaderClose: false,
          footerClass: 'equa-footer-btn-width'
        })
        .then((value) => {
          if (value) {
            this.deleteUser(id)
          }
        })
    },

    /**
     * Get user by keyboarder ID
     *
     * @param ID
     */
    getUserByKeyboarderID () {
      if (this.model.KeyboarderID.trim() === '') {
        this.$emit('is-active', false)
        return
      }
      this.$cheetahAxios.getUserByCode({ code: this.model.KeyboarderID })
        .then((res) => {
          if (res && res.Id > 0) {
            this.isCreateUser = false
            this.setModel(res)
            this.$emit('getUserId', res)
            this.$emit('is-hide-btn', false)
            EventBus.$emit('status-tabbar-user', res)
            this.$toast.success(this.$t('common.search_detail'))
          } else {
            this.isCreateUser = true
            this.SectionName = ''
            this.statusValidateSection = false
            this.$emit('is-hide-btn', true)
            EventBus.$emit('status-tabbar-user', 0)
            this.model = new User(
              {
                KeyboarderID: this.model.KeyboarderID
              })
            this.$toast.success(
              this.$t('common.create_new_customer')
            )
          }
          this.$emit('is-active', true)
        })
        .catch(() => {
          this.$toast.success(
            this.$t('common.create_new_customer')
          )
        })
    },

    /**
     * Get user by SectionID
     *
     * @param ID
     */
    getUserBySectionID () {
      if (this.model.SectionID.trim() !== '') {
        this.$cheetahAxios.getSectionByCode({ code: this.model.SectionID })
          .then((res) => {
            if (res) {
              this.SectionName = res.SectionName
              this.statusValidateSection = false
              return
            }
            this.statusValidateSection = true
            this.SectionName = ''
          })
          .catch((error) => {
            console.log(error)
          })
      } else {
        this.statusValidateSection = false
        this.SectionName = ''
      }
    },

    /**
     * Show SMTP
     */
    onSMTP () {
      this.$emit('show-smtp', this.model)
    },

    /**
     * Call API delete User.
     *
     * @param id
     */
    deleteUser (id) {
      this.$cheetahAxios.deleteUser({ id })
        .then(() => {
          this.$toast.success(
            this.$t('messages.information.deleted')
          )
          this.$emit(EVENT_MODIFY)
          this.$emit('is-hide-btn', false)
          this.clearForm()
        })
        .catch(() => {
          this.$toast.error(
            this.$t('messages.error.failed_to_delete', { name: this.$t('user.user') })
          )
        })
    },

    /**
     * Click button security
     */
    async onSecurity () {
      if (this.isCreateUser) {
        const modalMessega = await this.$bvModal
          .msgBoxConfirm(<span> {this.$t('messages.confirmation.add_new')}</span>, {
            title: <span><font-awesome-icon icon="id-card-alt" class="text-primary mr-2" />入力者の新規登録</span>,
            okTitle: <span><font-awesome-icon icon="save" class="mr-1" />Yes</span>,
            okVariant: 'primary',
            cancelTitle: 'No',
            hideHeaderClose: false,
            footerClass: 'equa-footer-btn-width'
          })
        if (modalMessega) {
          const saveUser = await this.submitForm()
          if (saveUser) {
            this.$emit('show-security-when-create-user', this.model.KeyboarderID)
          }
          this.isCreateUser = false
        }
      } else {
        this.$emit('show-security')
        this.isCreateUser = false
      }
    }
  }
}

</script>

<style scoped lang="scss">
  .bg-success-bold {
    background: #2eb85c;
    border: none;
    &:hover {
      background: #17883d;
    }
  }

 .padding-customize .col-md-10{
    padding-left: 2px;
  }
  #card-footer.card-footer{
    margin-right: -1.25rem;
    margin-left: -1.25rem;
  }
  .creem-user .form-group /deep/ .button-show-modal{
    position: absolute;
    right: -3em;
    top: 0;
  }
  .creem-user .form-group /deep/ .customer-cd{
    position: absolute;
    top: 6px;
    left: calc(100% + 37px);
    max-width: 250px;
  }
  .creem-user .form-group /deep/ .exp-date{
    position: absolute;
    right: -1.3em;
    top: 6px;
  }
</style>
