<template>
  <b-nav-item-dropdown
    id="my-nav-dropdown"
    toggle-class="nav-link-custom"
    right
    :class="`cheetah-sidebar-nav-dropdown ${isShow ? 'cheetah-show' : ''}`"
  >
    <template slot="button-content">
      <font-awesome-icon :icon="menu.icon" class="cheetah-sidebar-nav-icon" />
      {{ menu.name }}
    </template>
    <template v-if="Array.isArray(menu.children) && menu.children.length">
      <template v-for="child in menu.children">
        <cheetah-sidebar-nav-item :key="child.name" :menu="child" />
      </template>
    </template>
  </b-nav-item-dropdown>
</template>

<script>
import CheetahSidebarNavItem from './CheetahSidebarNavItem.vue'

export default {
  components: {
    CheetahSidebarNavItem
  },

  props: {
    /**
     * Menu
     */
    menu: {
      type: Object,
      default: () => {}
    }
  },

  data () {
    return {
      isShow: false,
      isSetIsShowOnMounted: false
    }
  },

  created () {
    /**
     * Watching change of route, menu prop
     */
    this.$watch(
      () => ({
        path: this.$route.fullPath,
        menu: this.menu
      }),
      (data) => {
        if (
          this.isSetIsShowOnMounted ||
          !(Array.isArray(data.menu.children) && data.menu.children.length)
        ) {
          return
        }

        this.isShow = data.menu.children
          .map(item => item.path)
          .includes(this.$route.fullPath)
        this.isSetIsShowOnMounted = true
      },
      {
        immediate: true,
        deep: true
      }
    )
  },

  methods: {
    /**
     * On handle submit
     */
    onToggleShow () {
      this.isShow = !this.isShow
    }
  }
}
</script>
