<template>
  <div class="cheetah-footer">
    <div class="col-item">
      &copy; 2021
      <a href="http://devfast.us/" target="_blank">CRM</a>
    </div>

    <div class="col-item">
      Powered by
      <a href="http://devfast.us/" target="_blank">DevFast On Cheetah Platform</a>
    </div>
  </div>
</template>
