<template>
  <div
    :class="`cheetah-header ${isCollapsed ? 'cheetah-sidebar-collapsed' : ''} ${
      isHide ? 'cheetah-sidebar-hide' : ''
    }`"
  >
    <div class="row no-gutters justify-content-between align-items-center h-100">
      <div class="col-auto d-flex align-items-center">
        <router-link to="/" class="cheetah-sidebar-hide">
          <img src="~/assets/logo.gif" alt="Logo" class="ml-2">
        </router-link>
      </div>

      <div class="col-auto">
        <b-dropdown
          variant="link"
          class="dropdown-user"
        >
          <template #button-content>
            {{ user ? user.UserName: '' }}
            {{ user && user.UserAdminName ? ' - ' + user.UserAdminName: '' }}
            <span
              class="span img-avatar ml-1"
              :style="{
                backgroundImage: 'url(https://www.kindpng.com/picc/m/24-248253_user-profile-default-image-png-clipart-png-download.png)',
              }"
            />
          </template>
          <b-dropdown-item @click="logout()">
            <font-awesome-icon icon="sign-out-alt" />
            {{ $t('common.logout') }}
          </b-dropdown-item>
        </b-dropdown>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import LocalStoreage from '~/cheetah-core/mixins/local-storeage'
import UserInfoLogin from '~/cheetah-core/mixins/user-login-info'

export default {
  mixins: [
    UserInfoLogin,
    LocalStoreage
  ],

  computed: {
    ...mapGetters({ isCollapsed: 'sidebar/isCollapsed' }),
    ...mapGetters({ isHide: 'sidebar/isHide' }),
    ...mapGetters({ user: 'user/user' }),

    user () {
      return this.getUserLogin()
    }
  },

  methods: {
    ...mapActions({ changeHide: 'sidebar/changeHide' }),
    /**
     * Logout
     */
    async logout () {
      try {
        if (localStorage.getItem('numberTabIsOpen') > 1) {
          this.$bvModal.msgBoxConfirm(<span> ログアウトしますか。</span>, {
            title: <span><font-awesome-icon icon="info-circle" class="text-warning mr-2" />Warning</span>,
            okTitle: <span>ログアウト</span>,
            okVariant: 'primary',
            cancelTitle: 'キャンセル',
            hideHeaderClose: false,
            footerClass: 'equa-footer-btn-width'
          })
            .then((value) => {
              if (value) {
                this.$emit('LogoutAll', true)
                this.$cheetahAxios.clearAuthToken()

                this.removeUserLogin()

                this.$toast.success(
                  this.$t('messages.information.logout')
                )
                this.$router.push('/login')
              }
            })
        } else {
          await this.$cheetahAxios.clearAuthToken()

          this.removeUserLogin()

          this.$toast.success(
            this.$t('messages.information.logout')
          )
          this.$router.push('/login')
        }
      } catch (error) {
        this.$toast.error(
          this.$t('messages.error.failed_to_logout')
        )
      }
    }
  }
}
</script>
