<template>
  <li class="cheetah-sidebar-nav-item">
    <router-link
      :to="menu.path"
      :class="`cheetah-sidebar-nav-link ${activeNavLinkClass}`"
    >
      <font-awesome-icon :icon="menu.icon" class="cheetah-sidebar-nav-icon" />
      <div class="cheetah-sidebar-nav-text">
        {{ menu.name }}
      </div>
    </router-link>
  </li>
</template>

<script>
import { buildPathNameList } from '~/cheetah-core/helpers/utils'

export default {
  props: {
    /**
     * Menu
     */
    menu: {
      type: Object,
      default: () => {}
    }
  },

  data () {
    return {
      ShortKey: ['z']
    }
  },

  computed: {
    /**
     * Active nav link class
     *
     * @return {String} - Active nav link class
     */
    activeNavLinkClass () {
      return buildPathNameList(this.$route.path).includes(this.menu.path) ? 'cheetah-active' : ''
    }
  }
}
</script>
<style scoped>
.cheetah-sidebar-nav-item:nth-child(7n + 1) .cheetah-sidebar-nav-icon{
  color: #321fdb;
}
.cheetah-sidebar-nav-item:nth-child(7n + 2) .cheetah-sidebar-nav-icon{
  color: #2eb85c;
}
.cheetah-sidebar-nav-item:nth-child(7n + 3) .cheetah-sidebar-nav-icon{
  color: #e55353;
}
.cheetah-sidebar-nav-item:nth-child(7n + 4) .cheetah-sidebar-nav-icon{
  color:#636f83;
}
.cheetah-sidebar-nav-item:nth-child(7n + 5) .cheetah-sidebar-nav-icon{
  color: #39f;
}
.cheetah-sidebar-nav-item:nth-child(7n + 6) .cheetah-sidebar-nav-icon{
  color: #f9b115;
}
.cheetah-sidebar-nav-item:nth-child(7n + 7) .cheetah-sidebar-nav-icon{
  color: #7762af;
}
</style>
