<template>
  <div
    :class="`cheetah-sidebar ${
      isCollapsed ? 'cheetah-sidebar-collapsed' : ''
    } ${
      isHide ? 'cheetah-sidebar-hide' : ''
    }`"
  >
    <div class="cheetah-sidebar-logo d-flex align-items-center">
      <router-link to="/" class="logo">
        <img src="~/assets/logo.gif" alt="Logo" class="mx-1">
        <!-- <span v-if="!isCollapsed" class="mx-1">商品比較</span> -->
      </router-link>
    </div>

    <ul class="cheetah-sidebar-nav pt-0">
      <cheetah-sidebar-nav-item
        :menu="{
          name: 'ダッシュボード',
          path: '/',
          icon: 'tachometer-alt'
        }"
      />
      <template v-for="item in MENU_SYSTEM">
        <template
          v-if="!(Array.isArray(item.children) && item.children.length)"
        >
          <cheetah-sidebar-nav-item :key="item.name" :menu="item" />
        </template>

        <template v-else>
          <cheetah-sidebar-nav-dropdown :key="item.name" :menu="item" />
        </template>
      </template>
    </ul>

    <div
      class="cheetah-sidebar-trigger"
      @click="() => changeCollapse(!isCollapsed)"
    >
      <font-awesome-icon :icon="`${isCollapsed ? 'angle-right' : 'angle-left'}`" />
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import CheetahSidebarNavItem from './CheetahSidebarNavItem.vue'
import CheetahSidebarNavDropdown from './CheetahSidebarNavDropdown.vue'

import Layout from '~/cheetah-core/mixins/layout'

const MENU_SYSTEM = [
  // {
  //   name: '設定',
  //   path: '/lineSetting',
  //   icon: 'cog'
  // },
  // {
  //   name: 'ユーザー',
  //   path: '/user',
  //   icon: 'user-friends'
  // },
  {
    name: 'インポート',
    path: '/import',
    icon: 'file-import'
  },
  {
    name: 'エクスポート',
    path: '/export',
    icon: 'file-download'
  }
]
// const MENU_MODULE = [
//   {
//     name: '通知設定',
//     path: '/notifySetting',
//     icon: 'cogs'
//   },
//   {
//     name: 'Line 設定',
//     path: '/lineSetting',
//     icon: 'cog'
//   }
// ]

export default {
  components: {
    CheetahSidebarNavItem,
    CheetahSidebarNavDropdown
  },

  mixins: [
    Layout
  ],

  computed: {
    ...mapGetters({ isCollapsed: 'sidebar/isCollapsed' }),
    ...mapGetters({ isHide: 'sidebar/isHide' }),

    /**
     * Menu system
     *
     * @return {Array} - Menu system
     */
    MENU_SYSTEM () {
      return MENU_SYSTEM
    }

    /**
     * Menu module
     *
     * @return {Array} - Menu module
     */
    // MENU_MODULE () {
    //   return MENU_MODULE
    // }
  },

  watch: {
    /**
     * Watching changes of isPC, change collapse sidebar
     */
    isPC: {
      handler (val) {
        this.changeCollapse(!val)
      },
      immediate: true
    }
  },

  methods: {
    ...mapActions({ changeCollapse: 'sidebar/changeCollapse' })
  }
}
</script>
