<template>
  <div class="p-user-edit h-100 p-2rem">
    <div class="card h-100">
      <div class="card-header bg-white">
        <div class="text-primary font-size-1-1rem font-weight-bold">
          <font-awesome-icon icon="pencil-alt" />
          {{ $t('user.edit.edit_user') }}
        </div>
      </div>

      <div class="card-body p-0">
        <user-create-edit-form
          :id="id"
          @modify="goToList"
          @cancel="goToList"
        />
      </div>
    </div>
  </div>
</template>

<script>
import UserCreateEditForm from '~/modules/user/components/UserCreateEditForm.vue'

export default {
  components: {
    UserCreateEditForm
  },

  computed: {
    /**
     * Get user Id
     *
     * @return {Object} user Id
     */
    id () {
      return +this.$route.params.id
    }
  },

  methods: {
    /**
     * Go to list
     */
    goToList () {
      this.$router.push('/user')
    }
  }
}
</script>
