<template>
  <div>
    <cheetah-sidebar-header-user :menu-header="MENU_HEADER">
      <b-button
        v-if="isActive && !isDisabled"
        v-shortkey="['f5']"
        type="submit"
        variant="primary"
        title="Add"
        :disabled="loading"
        class="btn-button ml-2"
        @click="onSubmit"
        @shortkey="onSubmitByShortKey"
      >
        <font-awesome-icon icon="save" />
        {{ $t('common.save') }}(F5)
      </b-button>
      <b-button
        v-if="!isHideBtnDelete && !isDisabled"
        v-shortkey="['f7']"
        type="button"
        variant="danger"
        title="Delete"
        :disabled="loading"
        class="btn-button ml-2"
        @click="handleDelete()"
        @shortkey="handleDelete()"
      >
        <font-awesome-icon icon="trash-alt" />
        {{ $t('common.delete') }}(F7)
      </b-button>

      <b-button
        v-if="isActive && !isDisabled"
        variant="outline-primary"
        title="Clear"
        :disabled="loading"
        class="btn-button mx-2"
        @click="clearForm"
      >
        <font-awesome-icon icon="eraser" />
        {{ $t('common.cancel') }}
      </b-button>
    </cheetah-sidebar-header-user>
    <div class="p-user-list pt-5 pl-2rem pr-2rem pb-2rem">
      <div class="p-2 m-2">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-7 col-md-8">
            <user-create-edit-form
              :id="filterUser.Id"
              ref="refUserFormCreateEdit"
              :filter-user="filterUser"
              :filter-section="filterSection"
              :is-disabled="isDisabled"
              @getUserId="getUserId"
              @show-user="onShowDetail(0)"
              @show-section="onShowDetail(0, 1)"
              @show-security="onShowDetail(0, 2)"
              @show-smtp="onUserGetByCode"
              @on-submit="setModel"
              @is-hide-btn="setStatusBtnDelete"
              @is-active="setStatusActive"
              @modify="clearForm"
              @clear-form="clearForm"
              @show-security-when-create-user="onShowModalSecurity"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- search user detail modal -->
    <search-user-detail-modal
      :id="selectedId"
      ref="refSearchUserDetailModal"
      :condition-user="conditionUser"
      @save-filter-user="onSaveFilterUser"
      @save-condition="onSaveCondition"
      @modify="refresh"
      @show-company="onShowDetail(0, 1)"
    />

    <!-- search section detail modal -->
    <search-section-detail-modal
      :id="selectedId"
      ref="refSearchSectionDetailModal"
      :condition-section="conditionSection"
      @save-condition-section="onSaveConditionSection"
      @save-filter-section="onSaveFilterSection"
      @modify="refresh"
    />

    <!-- search security modal -->
    <security-modal
      :id="selectedId"
      ref="refSecurityModal"
      :user-id="userId"
      :approval-alt="ApprovalAlt"
      :exceed-section="ExceedSection"
      :keyboarder-id="keyboarderId"
      :filter-user="filterUser"
      :disabled="isDisabled"
      @modify="refresh"
    />

    <!-- search smtp-setting detail modal -->
    <search-smtp-setting-detail-modal
      :id="selectedId"
      ref="refSearchSmtpSettingDetailModal"
      :user-by-code="userByCode"
      :loading="loading"
      :is-disabled="isDisabled"
      @modify="refresh"
      @onSendMail="onSendMail"
      @onSubmit="onSubmitSMTP"
    />
  </div>
</template>

<script>
import UserCreateEditForm from '~/modules/user/components/UserCreateEditForm.vue'
import SecurityModal from '~/modules/security/components/SecurityModal.vue'
import SearchUserDetailModal from '~/modules/search-user/components/SearchUserDetailModal.vue'
import SearchSectionDetailModal from '~/modules/search-section/components/SearchSectionDetailModal.vue'
import SearchSmtpSettingDetailModal from '~/modules/smtp-setting/components/SearchSmtpSettingDetailModal.vue'
import LocalStoreage from '~/cheetah-core/mixins/local-storeage'
import UserInfoLogin from '~/cheetah-core/mixins/user-login-info'

import { USER_ADMIN_ID } from '~/constants'
import Common from '~/cheetah-core/mixins/common'
import AsyncLoading from '~/cheetah-core/mixins/do-async-loading'
import ConditionHandler from '~/cheetah-core/mixins/condition'
import SearchFormHandler from '~/cheetah-core/mixins/search-form'
import SortHandler from '~/cheetah-core/mixins/sort'
import Paginator from '~/cheetah-core/mixins/paginator'

import EventBus from '~/plugins/event-bus'
import User from '~/modules/user/model'
import Validate from '~/cheetah-core/mixins/validate'
import CheetahSidebarHeaderUser from '~/modules/user/components/CheetahSidebarHeaderUser.vue'

const MENU_HEADER = [
  {
    name: 'インポート',
    path: '/user/import',
    icon: 'file-import'
  },
  {
    name: 'エクスポート',
    path: '/user/export',
    icon: 'file-download'
  }
]
const UPDATE_REFERENCE = 2

export default {
  components: {
    SearchUserDetailModal,
    SearchSectionDetailModal,
    CheetahSidebarHeaderUser,
    SearchSmtpSettingDetailModal,
    UserCreateEditForm,
    SecurityModal
  },

  mixins: [
    Common,
    AsyncLoading,
    ConditionHandler,
    SearchFormHandler,
    SortHandler,
    Paginator,
    Validate,
    UserInfoLogin,
    LocalStoreage
  ],

  data () {
    return {
      data: [],
      selectedId: 0,
      filterUser: new User(),
      filterSection: null,
      userId: 0,
      keyboarderId: '',
      user: new User(),
      modelType: 'User',
      isHideBtnDelete: true,
      conditionUser: null,
      isActive: false,
      userByCode: {},
      loading: false,
      conditionSection: null,
      ApprovalAlt: '',
      ExceedSection: '',
      isDisabled: true
    }
  },

  head () {
    return {
      title: this.$t('user.user_master'),
      link: [
        {
          rel: 'icon',
          type: 'image/x-icon',
          href: '/userFavicon.ico'
        }
      ]
    }
  },

  computed: {
    /**
     * Menu header
     *
     * @return {Array} - Menu header
     */
    MENU_HEADER () {
      return MENU_HEADER
    }
  },

  mounted () {
    /**
     * check condition to Save Form
     */
    this.conditionSave()
  },

  updated () {
    const favicon = document.getElementById('favicon')
    favicon.href = '/userFavicon.ico'
  },

  methods: {
    /**
     * Submit form Customer by button submit
     */
    onSubmit () {
      this.$refs.refUserFormCreateEdit.submitForm()
    },

    /**
     * Submit form User by shortcut (F5)
     */
    onSubmitByShortKey () {
      this.$refs.refUserFormCreateEdit.onSubmitByShortKey()
    },

    /**
     * button and shortcut(F7) delete User
     */
    handleDelete () {
      this.$refs.refUserFormCreateEdit.handleDelete()
    },

    /**
     * set status IS_HIDE_BTN_DELETE
     */
    setStatusBtnDelete (statusBtn) {
      this.isHideBtnDelete = statusBtn
    },

    /**
     * set status IS_HIDE_BTN_DELETE
     */
    setStatusActive (statusBtn) {
      this.isActive = statusBtn
    },

    /**
     * set status IS_HIDE_BTN_DELETE
     */
    setDisabled (isDisabled) {
      this.isDisabled = isDisabled
    },

    /**
     * Open search detail modal
     *
     * @param {Number} id - Current id
     */
    onShowDetail (id, type = 0, keyboarder = null) {
      this.selectedId = id
      if (type === 0) {
        this.$refs.refSearchUserDetailModal.open()
      } else if (type === 1) {
        this.$refs.refSearchSectionDetailModal.open()
      } else if (type === 2) {
        this.$refs.refSecurityModal.open()
      } else if (type === 3) {
        this.$refs.refSearchSmtpSettingDetailModal.open()
      }
    },

    /**
     * Show security
     *
     * @param {Number} keyboarder
     */
    onShowModalSecurity (keyboarder) {
      this.selectedId = 0
      this.keyboarderId = keyboarder
      this.$refs.refSecurityModal.open()
    },

    /**
     * Submit SMTP
     */
    async onSubmitSMTP (userSMTP) {
      const result = await this.$cheetahAxios.updateUser(userSMTP)
      if (result) {
        this.$refs.refSearchSmtpSettingDetailModal.hide()
        this.$toast.success(
          this.$t('common.create_new_customer')
        )
        this.$cheetahAxios.getUserByCode({ Code: userSMTP.KeyboarderID })
          .then((res) => {
            this.filterUser = new User(res)
          })
      }
    },

    /**
     * Save condition user
     *
     * @param {Object} condition - condition
     */
    onSaveCondition (condition) {
      this.conditionUser = condition
    },

    /**
     * Save condition user
     *
     * @param {Object} condition - condition
     */
    onSaveConditionSection (condition) {
      this.conditionSection = condition
    },

    /**
     * Save filter section
     *
     * @param {Object} filterSection - filter
     */
    onSaveFilterSection (filterSection) {
      this.filterSection = filterSection
    },

    /**
     * Save filter user
     *
     * @param {Object} filterUser - filter
     */
    onSaveFilterUser (filterUser) {
      this.filterUser = filterUser
      this.id = filterUser.Id
      this.userId = filterUser.Id
      this.ApprovalAlt = filterUser.ApprovalAltOK
      this.ExceedSection = filterUser.ExceedSectionOK
      this.keyboarderId = filterUser.KeyboarderID
      if (this.filterUser.Id === 0) {
        this.isActive = false
      }
      this.isActive = true
    },

    /**
     * Clear form User
     */
    clearForm () {
      this.selectedId = 0
      this.filterUser = new User()
      this.id = ''
      this.$refs.refUserFormCreateEdit.clearForm()
      EventBus.$emit('status-total', true)
      this.isActive = false
      // this.isActive = (this.code.trim() !== '')
    },

    /**
     * Test Send Mail
     */
    onSendMail (data) {
      this.loading = true
      this.$cheetahAxios.sendMail(data)
        .then((res) => {
          if (res) {
            this.$toast.success(
              this.$t('messages.information.sent_mail_success', { name: data.KeyboarderName })
            )
          } else {
            this.$toast.error(
              this.$t('messages.error.failed_to_sent_mail', { name: data.KeyboarderName })
            )
          }
        })
        .catch(() => {
          this.$toast.error(
            this.$t('messages.error.failed_to_sent_mail', { name: data.KeyboarderName })
          )
        }).finally(() => {
          this.loading = false
        })
    },

    /**
     * Get user
     */
    getUserId (res) {
      this.filterUser.Id = res.id
      this.filterUser = new User(res)
      this.keyboarderId = res.KeyboarderID
      this.userId = res.id
      this.ApprovalAlt = res.ApprovalAltOK
      this.ExceedSection = res.ExceedSectionOK
    },

    /**
     * get user by code
     */
    onUserGetByCode (user) {
      this.userByCode = user
      this.$refs.refSearchSmtpSettingDetailModal.open()
    },

    /**
     * Set Model to prop
     *
     * @param user
     */
    setModel (user) {
      this.user = user
    },

    /**
     * Set condition to save Form
     */
    async conditionSave () {
      if (this.getUserLogin().UserId.toUpperCase() === USER_ADMIN_ID.toUpperCase()) {
        this.isDisabled = false
      } else {
        let searchMenu = null
        let security = null
        const menu = await this.$cheetahAxios.getMenuByUserId({ userId: this.getUserLogin().UserId })
        if (menu) {
          searchMenu = menu.find(menuItem => menuItem.Path.toUpperCase() === 'user'.toUpperCase())
        }
        const res = await this.$cheetahAxios.getSecurityByUserId({ userId: this.getUserLogin().UserId })
        if (res) {
          if (searchMenu) {
            security = res.data.find(s => s.MenuId === searchMenu.Id)
            if (!security) {
              this.isDisabled = false
            } else if (security && security.Permission === UPDATE_REFERENCE) {
              this.isDisabled = false
            } else if (!this.getUserLogin().UserAdminId) {
              this.isDisabled = true
            } else {
              this.isDisabled = false
            }
          } else {
            this.isDisabled = true
          }
        } else {
          this.isDisabled = true
        }
      }
    }
  }
}
</script>

<style>
.padding-customize .col-md-10 {
  padding-left: 2px;
}

#order, button:hover, label:hover, a:hover, select:hover {
    cursor: default !important;
  }
</style>
