.screem-login {
  height: 100vh;
}

.frame {
  padding-left: 25vw;
  padding-right: 25vw;
  padding-top: 7%;
}
.bg-login {
  height: 65vh;
}

.bg-confirm {
  height: auto;
}

.title-login {
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  font-size: 1.3rem;
}

.logo-heading-section {
  background-image: url("assets/logo.png");
  background-size: cover;
  width: 215px;
  height: 190px;
  background-repeat: no-repeat;
  background-position: center center;
}
.logo-password-retrieval {
  background-image: url("assets/logo.png");
  background-size: cover;
  width: 160px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center center;
}
.login-wrap h3 {
  font-family: "Comfortaa", cursive;
  font-weight: 500;
}
.form-control-login {
  width: 100%;
  background: #e6e6e6;
  height: 2.5rem;
  border: 1px solid #e4e2e1;
  border-radius: 5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: "Comfortaa", cursive;
}
.form-control-login:focus {
  border: 1px solid #e4e2e1;
}
.btn-input:hover {
  background: transparent;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #e4e2e1;
}
.btn-input:focus {
  border: 1px solid #e4e2e1;
}
.password-field {
  position: relative;
}
.field-icon {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
}
.btn-submit {
  border: 1px solid #e4e2e1;
}
.checkmark {
  padding-left: 1rem;
}

.footer-login {
  position: absolute;
  bottom: 10px !important;
  width: 100vw;
}

.message-error {
  margin-top: -20px;
}

@media only screen and (min-width: 1247px) and (max-width: 1440px) {
  .frame {
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 7%;
  }
}

@media only screen and (min-width: 1070px) and (max-width: 1246px) {
  .frame {
    padding-left: 16vw;
    padding-right: 16vw;
    padding-top: 7%;
  }
  .login-input {
    padding-right: 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1069px) {
  .frame {
    padding-left: 14vw;
    padding-right: 14vw;
    padding-top: 7%;
  }
  .login-input {
    padding: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .card-body {
    margin: 2rem !important;
  }
  .frame {
    padding-left: 14vw;
    padding-right: 14vw;
    padding-top: 7%;
  }
  .login-input {
    padding-right: 0;
  }
  .logo-heading-section {
    background-image: url("assets/logo.png");
    background-size: cover;
    width: 147px;
    height: 115px;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

@media only screen and (max-width: 768px) {
  .bg-login {
    height: 75vh !important;
  }
  .bg-confirm {
    height: auto !important;
  }

  .text-bottom {
    margin: 0;
    display: grid !important;
  }
  .text-register {
    text-align: left !important;
  }
  .card-body {
    margin: 1rem !important;
  }
  .frame {
    padding-left: 0;
    padding-right: 0;
    padding-top: 7%;
  }
}

@media only screen and (max-width: 425px) {
  .bg-login {
    height: 90vh !important;
  }
  .bg-confirm {
    height: auto !important;
  }
  .logo-heading-section {
    background-image: url("assets/logo.png");
    background-size: cover;
    width: 140px;
    height: 125px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .footer-login {
    font-size: 12px;
    display: block !important;
    text-align: center;
  }
}
