.cheetah-sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  color: $body-color;
  background: #fff;
  transition: box-shadow .3s .15s,transform .3s,margin-left .3s,margin-right .3s,width .3s,z-index 0s ease .3s;
  z-index: 1030;
  &.cheetah-sidebar-collapsed {
    width: 56px;
    z-index: 1031;
    .cheetah-sidebar-logo {
      padding-left: 0;
      .logo img {
        width: 44px;
        height: auto;
      }
    }
    .cheetah-sidebar-nav {
      overflow: visible;
      &-divider,
      &-title {
        height: 0;
        padding: 0;
        margin: 0;
        visibility: hidden;
        opacity: 0;
      }
      &-dropdown-toggle,
      &-link {
        overflow: hidden;
        white-space: nowrap;
        border-left: 0;
        &:hover {
          width: 312px;
        }
      }
      &-dropdown-toggle:after {
        display: none;
      }
      &-dropdown {
        &:hover {
          background: $primary;
          .cheetah-sidebar-nav-dropdown-toggle {
            .cheetah-sidebar-nav-icon-arrow {
              display: block;
            }
          }
        }
        &-items {
          .cheetah-sidebar-nav-dropdown-toggle,
          .cheetah-sidebar-nav-link {
            width: 256px;
            padding-left: 30px;
          }
        }
        &-toggle {
          .cheetah-sidebar-nav-icon-arrow {
            display: none;
            right: 10px;
            &:before,
            &:after {
              background: #fff;
            }
          }
        }
      }
      > .cheetah-sidebar-nav-dropdown {
        position: relative;
        &:hover {
          width: 312px;
          overflow: visible;
          > .cheetah-sidebar-nav-dropdown-toggle {
            color: #fff;
          }
          > .cheetah-sidebar-nav-dropdown-items {
            display: inline;
            position: absolute;
            left: 56px;
          }
        }
        > .cheetah-sidebar-nav-dropdown-items {
          max-height: 1500px;
          background: #fff;
          &,
          .cheetah-sidebar-nav-dropdown:not(.cheetah-show) > .cheetah-sidebar-nav-dropdown-items {
            display: none;
          }
          .cheetah-sidebar-nav-icon {
            margin-right: 20px;
          }
        }
      }
      &-items {
        &:hover {
          >.cheetah-sidebar-nav-dropdown-toggle,
          >.cheetah-sidebar-nav-link {
            background: $primary;
          }
        }
      }
      &-icon {
        margin-right: 40px;
      }
    }
    .cheetah-sidebar-trigger {
      right: 20px;
    }
    ~ .cheetah-main-body {
      margin-left: 56px;
    }
  }
  &.cheetah-sidebar-hide {
    width: 0;
    overflow: hidden;
    ~ .cheetah-main-body {
      margin-left: 0;
    }
  }
  .cheetah-sidebar-logo {
    flex: 0 0 $header-height;
    height: $header-height;
    border-bottom: 1px solid $border-color;
    padding-left: 10px;
    .logo {
      white-space: nowrap;
      text-decoration: none;
      > * {
        display: inline-block;
        vertical-align: middle;
      }
      img {
        max-height: 42px;
      }
    }
  }
  &-nav {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    list-style: none;
    border-right: 1px solid $border-color;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px 0;
    margin: 0;
    &-title {
      padding: .75rem 1rem;
      margin-top: 1rem;
      font-size: 80%;
      font-weight: 700;
      color: $primary;
      text-transform: uppercase;
      user-select: none;
      transition: .3s;
    }
    &-divider {
      height: 10px;
      transition: height .3s;
    }
    &-item {
      width: inherit;
    }
    &-dropdown-toggle,
    &-link {
      display: flex;
      flex: 1 1;
      align-items: center;
      text-decoration: none;
      color: $body-color;
      background: 0 0;
      user-select: none;
      transition: background .3s, color .3s;
      padding: 0.6rem 1rem;
      &:focus {
        outline: none;
      }
      &:hover {
        color: #fff;
        background: $primary;
        text-decoration: none;
      }
      &.cheetah-active {
        color: #fff;
        background: $primary;
      }
      .cheetah-sidebar-nav-icon {
        color: inherit;
      }
    }
    &-dropdown {
      position: relative;
      transition: background .3s ease-in-out;
      &.cheetah-show {
        > .cheetah-sidebar-nav-dropdown-items {
          max-height: 1500px;
        }
        + .cheetah-sidebar-nav-dropdown.cheetah-show {
          margin-top: 1px;
        }
        .cheetah-sidebar-nav-icon-arrow {
          top: 1.2em;
          &:before {
            transform: rotate(45deg) translateX(2px);
          }
          &:after {
            transform: rotate(-45deg) translateX(-2px);
          }
        }
      }
      &-toggle {
        cursor: pointer;
        &:hover {
          .cheetah-sidebar-nav-icon-arrow {
            &:before,
            &:after {
              background: #fff;
            }
          }
        }
        .cheetah-sidebar-nav-icon-arrow {
          position: absolute;
          top: 1.5em;
          right: 6px;
          width: 10px;
          transition: all .3s ease;
          &:before,
          &:after {
            content: "";
            position: absolute;
            width: 6px;
            height: 1.5px;
            background: $body-color;
            border-radius: 2px;
            -webkit-transition: background .3s cubic-bezier(.645,.045,.355,1),top .3s cubic-bezier(.645,.045,.355,1),-webkit-transform .3s cubic-bezier(.645,.045,.355,1);
            transition: background .3s cubic-bezier(.645,.045,.355,1),top .3s cubic-bezier(.645,.045,.355,1),-webkit-transform .3s cubic-bezier(.645,.045,.355,1);
            transition: background .3s cubic-bezier(.645,.045,.355,1),transform .3s cubic-bezier(.645,.045,.355,1),top .3s cubic-bezier(.645,.045,.355,1);
            transition: background .3s cubic-bezier(.645,.045,.355,1),transform .3s cubic-bezier(.645,.045,.355,1),top .3s cubic-bezier(.645,.045,.355,1),-webkit-transform .3s cubic-bezier(.645,.045,.355,1);
          }
          &:before {
            transform: rotate(-45deg) translateX(2px);
          }
          &:after {
            transform: rotate(45deg) translateX(-2px);
          }
        }
      }
      &-items {
        max-height: 0;
        padding: 0;
        overflow-y: hidden;
        list-style: none;
        transition: max-height .3s ease-in-out;
        .cheetah-sidebar-nav-link {
          padding-left: 44px;
        }
      }
    }
    &-link {
      .badge {
        font-size: 0.8em;
        margin-left: auto;
      }
    }
    &-icon {
      flex: 0 0 20px;
      height: 1.09375rem;
      font-size: 1.09375rem;
      text-align: left;
      fill: currentColor;
      transition: none;
      margin-right: 8px;
    }
  }
  &-trigger {
    flex: 0 0 $footer-height;
    height: $footer-height;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
    background: $primary;
    cursor: pointer;
    transition: all 0.4s ease;
    z-index: 2;
  }
}
