<template>
  <div class="cheetah-app">
    <cheetah-header />

    <div class="cheetah-wrapper">
      <!-- <cheetah-sidebar /> -->

      <div class="cheetah-main-body">
        <div class="cheetah-main-content">
          <transition name="fade">
            <Nuxt />
          </transition>
        </div>

        <cheetah-footer />
      </div>
    </div>
  </div>
</template>

<script>
// import CheetahSidebar from '~/components/CheetahSidebar'
import CheetahHeader from '~/components/CheetahHeader'
import CheetahFooter from '~/components/CheetahFooter'
import Detech from '~/cheetah-core/mixins/detech'

export default {
  components: {
    // CheetahSidebar,
    CheetahHeader,
    CheetahFooter
  },

  mixins: [Detech],

  middleware: ['auth', 'security']
}
</script>

<style lang="scss" scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
